$main-font: 'Source Sans Pro',sans-serif;
$main-margin: '5%';
$main-background:#f4f1ec;
$nav-background: #4056A1;
$error : #f36161;
$warning: rgb(255, 187, 0);
$main-padding: 1.5em;
$logo-font: 'Bungee', sans-serif;
$background-img: url("https://www.transparenttextures.com/patterns/black-mamba.png");
$error-border: 1px solid black;