/*Variables to be used across the whole page */
.new-tweet {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  font-family: "Source Sans Pro", sans-serif;
  margin-left: 2em;
}
.new-tweet form {
  display: flex;
  flex-flow: column nowrap;
}
.new-tweet #submit {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.new-tweet textarea {
  border: none;
  outline: none;
  background: transparent;
  border-bottom: 2px solid black;
}
.new-tweet button {
  background-color: #4056A1;
  font-family: "Bungee", sans-serif;
  font-size: 1em;
  color: white;
  width: 100px;
  height: 50px;
}
.new-tweet .counter {
  font-family: "Bungee", sans-serif;
  font-weight: 600;
}
.new-tweet label {
  align-self: flex-start;
}
.new-tweet #error-message {
  width: 50px;
  align-self: center;
}
.new-tweet .warning {
  background-color: #ffbb00;
  border: 1px solid black;
  font-family: "Source Sans Pro", sans-serif;
}
.new-tweet .error {
  background-color: #f36161;
  border: #f36161;
  font-family: "Source Sans Pro", sans-serif;
}
