.new-tweet {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  font-family:'Source sans pro','sans-serif';
}
form {
  display: flex;
  flex-flow: column nowrap;
}
#submit {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
textarea{
  border:none;
  outline:none;
  background: transparent;
  border-bottom:2px solid #000000;
}
button{
  background-color: #4056A1;
  font-family: 'Bungee','sans-serif';
  font-size: 1em;
  color: #ffffff;
  width:100px;
  height:50px;
}
.counter{
  font-family: 'Bungee','sans-serif';
  font-weight:600;
}
label{
  align-self:flex-start
}
#error-message{
  width: 50%;
  align-self: center;
}
.warning {
  background-color: rgb(255, 187, 0);
  border: 1px solid black;
  font-family: 'Source Serif Pro',sans-serif;

}

.error {
  color: rgb(238, 234, 177);
  background-color: #f36161;
  border: 1px solid black;
  font-family: 'Source Serif Pro',sans-serif;
}