article {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  border: 3px solid black;
  margin-top: 2em;
  font-family: "Source Sans Pro", sans-serif;
  margin-bottom: 2em;
}
article header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding-left: 1.5em;
  margin-top: 1em;
}
article header #avatarName {
  display: flex;
  flex-direction: row;
  justify-self: space-between;
}
article header #username {
  display: flex;
  justify-self: flex-end;
  padding-right: 1.5em;
}
article #past-tweet {
  display: inline-block;
  justify-self: flex-start;
  word-break: break-word;
  word-wrap: break-word;
  padding-left: 1.5em;
  padding-right: 1.5em;
  border-bottom: 2px solid black;
}
article footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-bottom: 20px;
}
article footer #icons {
  justify-self: flex-end;
  flex-direction: row-reverse;
}
article footer .interact:hover {
  color: #ffff41;
}

article:hover {
  box-shadow: 0 0 11px #6e6d6d;
}
